.post {
    width: inherit;
    /* padding: 0.5rem 0; */
}

/* POST HEADER */  

.post .post-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.75rem;
    height: 4vh;
}

/* USER'S NAME/LINK TO PROFILE */

.user-link {
    text-decoration: none;
    color: var(--accent-blue);
}

/* POST IMAGE */  

.post > img {
    max-width: 100%;
}

/* POST FOOTER */

.post-footer {
    display: flex;
    flex-direction: column;
    padding: 0.75rem 0.75rem 2rem 0.75rem;
    gap: 0.35rem;
}

/* POST LIKE */

.post-like {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* POST DESCRIPTION */

p.post-description {
    color: var(--accent-blue);
}