.header-page-title {
    padding: 0 0.75rem;
    border-bottom: solid thin var(--dark-border);
    display: flex;
    flex-direction: row;
    height: 4vh;
    align-items: center;
    position: fixed;
    width: 550px;
    background-color: var(--light-background);
}

.header-page-title h2 {
    font-size: inherit;
    font-weight: inherit;
}

@media (max-width: 550px) {
    .public-feed-header {
      width: 100vw;
    }
}